#highScoresList {
  list-style: none;
  margin-top: 20rem;
  margin-bottom: 2.5rem;
}

#highScoresTitle {
  position: fixed;
  top: 173px;
  font-size: 11rem;
}

.high-score {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.035);
}

#cloud-img-highscores {
  width: 800px;
  position: fixed;
  top: 75px;
}
